{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}Login - Luminary{% endblock %}
{% block body %}
    <div class="bg-gradient-to-br from-blue-200 to-blue-100 min-h-screen flex justify-center items-center py-8">
        <form method="POST"
              autocomplete="off"
              class="bg-white rounded-xl shadow-2xl p-8 w-full md:w-[60%] lg:w-[35%]">
            <div class="bg-blue-500 text-white p-4 rounded-t-xl">
                <h1 class="text-2xl font-semibold text-center">Login to Luminary</h1>
            </div>
            {% csrf_token %}
            <div class="mt-6 space-y-4">
                {% for field in form %}
                    <div class="space-y-1">
                        <label for="{{ field.id_for_label }}"
                               class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                        {{ field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 p-2" }}
                        {% if field.errors %}<span class="text-red-500 text-sm">{{ field.errors|striptags }}</span>{% endif %}
                    </div>
                {% endfor %}
                <div class="flex justify-center">
                    <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-300">
                        Login
                    </button>
                </div>
                <div class="flex justify-center">
                    <a href="{% provider_login_url 'google' %}?next=/"
                       class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-300 flex items-center">
                        <i class="fab fa-google mr-2"></i>
                        Login with Google
                    </a>
                </div>
                <div class="text-center">
                    <a href="{% url 'register_account' %}"
                       class="text-blue-400 hover:text-blue-500 transition-colors duration-300">
                        Don't have an account? Register
                    </a>
                </div>
                <div class="text-center">
                    <a href="{% url 'reset_password' %}"
                       class="text-blue-400 hover:text-blue-500 transition-colors duration-300">
                        Forgot password? Reset
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
