{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="w-full h-screen flex justify-center items-center bg-gray-200">
        <div class="bg-blue-500 rounded-sm h-[50%] w-[80%] overflow-hidden">
            <div class="w-full bg-black text-white flex justify-center items-center h-10">
                <p class="text-xl">Reset reset complete</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <p class="my-4 text-center text-lg font-bold">Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}"
                   class="text-center text-white bg-black p-1 rounded-sm text-lg  font-semibold">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
