{% extends 'base.html' %}
{% block title %}Logout{% endblock %}
{% block body %}
    <div class="w-full h-screen flex justify-center items-center bg-gray-200">
        <form method="POST"
              autocomplete="off"
              class="bg-blue-500 rounded-sm h-[50%] w-[34%] overflow-hidden">
            <div class="w-full bg-black text-white flex justify-center items-center h-10">
                <p class="text-xl">Password Changed</p>
            </div>
            {% csrf_token %}
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-col p-2">
                    <p class="text-lg">You have successfully change the password.</p>
                    <p class="text-base text-center">Login in with the new password</p>
                </div>
                <a href="{% url 'login' %}"
                   class="bg-black text-white p-1 rounded-sm my-3">Login</a>
            </div>
        </form>
    </div>
{% endblock %}
