{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="w-full h-screen flex justify-center items-center bg-gray-200">
        <form method="post"
              autocomplete="off"
              class="bg-blue-500 rounded-sm h-[50%] w-[50%] overflow-hidden">
            <div class="w-full bg-black text-white flex justify-center items-center h-10">
                <p class="text-xl">Password reset</p>
            </div>
            {% csrf_token %}
            <div class="flex flex-col justify-center items-center">
                <p class="font-semibold my-2 text-center text-lg p-2">
                    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new password
                </p>
                {% for field in form %}
                    <div class="flex my-4 p-2">
                        <label for="{{ field.name }}" class="text-md font-bold mx-2">{{ field.name }}</label>
                        {{ field }}
                        <!-- <input class="rounded-sm"
        placeholder="Enter reset email"
        type="email"
        value=""
        id="{{ field.name }}" /> -->
                    </div>
                {% endfor %}
                <button type="submit" class="bg-black text-white p-1 rounded-sm my-3">Reset my password</button>
            </div>
        </form>
    </div>
{% endblock %}
