{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}LetsChart{% endblock %}
        </title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'tailwind/src_output.css' %}">
    </head>
    <body class="h-screen w-full flex flex-col overflow-hidden rounded-full">
        <div class="bg-blue-500 flex justify-center items-center w-full fixed top-0 z-50 shadow-md py-3">
            <div class="w-[96%] flex justify-between items-center max-w-7xl">
                <!-- Logo -->
                <div class="text-2xl font-bold text-white">
                    <a href="{% url 'index' %}" class="hover:text-gray-200 transition">LetsChart</a>
                </div>
                <!-- Create Post Link -->
                <div class="font-bold hidden md:block">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'create_post' %}"
                           class="text-white hover:text-gray-200 transition">Create Post</a>
                    {% endif %}
                </div>
                <!-- User Actions -->
                <div class="flex items-center space-x-4">
                    {% if request.user.is_authenticated %}
                        {% if request.user.my_profile %}
                            <a href="{% url 'profile' %}" class="flex items-center space-x-2">
                                <img src="{{ request.user.my_profile.photo.url }}"
                                     alt="Profile"
                                     class="h-8 w-8 rounded-full border-2 border-white">
                            </a>
                        {% else %}
                            <a href="{% url 'create_profile' %}"
                               class="font-bold text-red-600 hover:text-red-400 transition">Create Profile</a>
                        {% endif %}
                        <a href="{% url 'logout' %}"
                           class="text-white hover:text-gray-200 transition">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}"
                           class="text-white hover:text-gray-200 transition">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if messages %}
            <div class="w-full h-auto fixed top-8 opacity-50">
                {% for message in messages %}
                    {% if 'error' in message.tags %}
                        <div class="bg-red-100 text-red-800 p-1">{{ message }}</div>
                    {% elif 'success' in message.tags %}
                        <div class="bg-green-100 text-green-800 p-1">{{ message }}</div>
                    {% elif 'warning' in message.tags %}
                        <div class="bg-yellow-100 text-yellow-800 p-1">{{ message }}</div>
                    {% elif 'info' in message.tags %}
                        <div class="bg-blue-100 text-blue-800 p-1">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="flex-1 mt-8 overflow-y-auto">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
