{% extends 'base.html' %}
{% block title %}
    home
{% endblock title %}
{% block body %}
    <h1>THis is the home for chattings</h1>
    <br>
    <ul>
        {% for room in rooms %}
            <li class="w-10/12 border-2 border-gray-300 rounded-lg shadow-lg bg-teal-800 flex flex-col">
                <div>
                    <img src="{{ room.host.profile.image.url }}"
                         alt="Profile Image"
                         class="w-10 h-10 rounded-full">
                    <span class="text-gray-500 text-sm">{{ room.host.username }}</span>
                </div>
                <a href="{% url 'chattings_room' room.id %}" class="font-bold text-lg">{{ room.name }}</a>
                <p>{{ room.topic }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}
